/* Container 39 */
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background: #FFFFFF;
  border-radius: 2vh;
}

/* Logo Container */
.logo-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2vw;
}

/* Logo */
.logo {
  width: 10vw;
  height: auto;
}

/* Textbox 4 */
.container .textbox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15vw;
  opacity: 1;
}

.container .textbox input {
  width: 55vw;
  height: 5vh;
  padding-left: 2vw;
  padding-right: 1vw;
  font-size: 2vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 2.6vh;
  background: #F3F4F6;
  border-radius: 1vh;
  border-width: 0;
  outline: none;
}

.container .textbox svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.6vw;
  width: 2vh;
  height: auto;
}

.container .textbox svg.left {
  left: 1.6vw;
}

/* hover */
.container .textbox input:hover {
  color: #BCC1CA;
  background: #F3F4F6;
}

/* focused */
.container .textbox input:focus {
  color: #BCC1CA;
  background: #FFFFFF;
}

/* disabled */
.container .textbox input:disabled {
  color: #BCC1CA;
  background: #F3F4F6;
}

.container .textbox :disabled + .icon,
.container .textbox :disabled + .icon + .icon {
  fill: #171A1F;
}

/* Header Menu 2 */
.container .header-menu {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 75vw;
  width: 20vw;
  height: 5vh;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 2.2vh;
  opacity: 1;
}

.container .header-menu .header-menu-item {
  padding: 1.5vh 1vw;
  color: #565E6C;
  white-space: nowrap;
  transition: color 0.3s ease;
  cursor: pointer;
}

.container .header-menu .header-menu-item:hover {
  color: #000000;
  font-weight: 700;
}

.container .header-menu .header-menu-item.selected {
  position: relative;
  font-weight: 500;
  color: #000000;
}

.container .header-menu .header-menu-item.selected::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #000000;
  border-radius: 2px;
}

.container .header-menu .header-menu-item.selected:hover {
  color: #565E6C;
  font-weight: 400;
}

/* A単ade este estilo para quitar el subrayado de los enlaces */
.container .header-menu .header-menu-item {
  text-decoration: none;
}

/* Container 36 - Nuevo contenedor debajo del anterior */
.container-36 {
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  height: 732px;
  background: #F8F9FAFF;
  border-radius: 0;
}

.text {
  position: absolute;
  top: 96px;
  left: 132px;
  width: 545px;
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
  color: #171A1FFF; /* neutral-900 */
}

.text .highlight {
  color: #BCC1CAFF; /* Color para "Remodela" y "hogar" */
}

.text-2 {
  position: absolute;
  top: 213px;
  left: 116px;
  width: 196px;
  font-family: 'Poppins', sans-serif;
  font-size: 300px;
  font-weight: 400;
  line-height: 360px;
  color: #BCC1CAFF; /* neutral-400 */
}

.text-estres {
  position: absolute;
  top: 289px;
  left: 309px;
  width: 173px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #DEE1E6FF; /* neutral-300 */
}

.text-esfuerzo {
  position: absolute;
  top: 350px;
  left: 307px;
  width: 215px;
  height: 56px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #DEE1E6FF; /* neutral-300 */
}

.text-preocupaciones {
  position: absolute;
  top: 415px;
  left: 309px;
  width: 343px;
  height: 60px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #DEE1E6FF; /* neutral-300 */
}

.text-asi-es {
  position: absolute;
  top: 509px;
  left: 132px;
  width: 545px;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: #323842FF; /* neutral-700 */
}

/* Image */
.image {
  position: absolute;
  top: 515px;
  left: 249px;
  width: 241px;
  height: auto;
  border-radius: 0px;
}

/* Button 18 */
.button {
  position: absolute; 
  top: 580px; 
  left: 138px; 
  width: 141px; 
  height: 52px; 
  padding: 0 20px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: 'Poppins', sans-serif;
  font-size: 18px; 
  font-weight: 400; 
  line-height: 28px; 
  color: #FFFFFFFF; /* white */
  background: #171A1FFF; /* neutral-900 */
  opacity: 1; 
  border: none; 
  border-radius: 12px; /* border-m */
  box-shadow: 0px 11.25px 24px #171a1f, 0px 0px 2px #171a1f; /* shadow-l */
}

/* Hover */
.button:hover {
  color: #FFFFFFFF; /* white */
  background: #262A33FF; /* neutral-750 */
}

/* Pressed */
.button:active {
  color: #FFFFFFFF; /* white */
  background: #323842FF; /* neutral-700 */
}

/* Disabled */
.button:disabled {
  opacity: 0.4; 
}

/* Container 37 */
.container-37 {
  position: absolute; 
  top: 19px; 
  left: 155px; 
  width: 1154px; 
  height: 632px; 
  background: #1D2128FF; /* neutral-800 */
  border-radius: 12px; /* border-m */
}

/* Image 91 */
.container-37 .image {
  position: absolute; 
  top: 389px; 
  left: 47px; 
  width: 177px; 
  height: 264px; 
  border-radius: 0px; 
}

/* Image */
.container-37 .image2 {
  position: absolute; 
  top: 100px; 
  left: 121px; 
  width: 365px; 
  height: 431px; 
  border-radius: 12px; /* border-m */
}

/* Container 38 */
.container-38{
  position: absolute; 
  top: 51px; 
  left: 592px; 
  width: 467px; 
  height: 526px; 
  background: #FFFFFFFF; /* white */
  border-radius: 12px; /* border-xl */
}

.container-38 .textb {
  position: absolute; 
  top: 27px; 
  left: 129px; 
  font-family: 'Poppins', sans-serif;
  font-size: 40px; 
  font-weight: 700; 
  line-height: 56px; 
  color: #323842FF; /* neutral-700 */
}

.container-38 .texts {
  position: absolute; 
  top: 83px; 
  left: 87px; 
  font-family: 'Poppins', sans-serif;
  font-size: 14px; 
  font-weight: 400; 
  line-height: 22px; 
  color: #9095A0FF; /* neutral-500 */
}

/* Textbox 36 */
.container-38 .textbox1 {
  position: absolute; 
  top: 123px; 
  left: 56px; 
  opacity: 1; 
}
.container-38 .textbox1 input {
  width: 320px; 
  height: 52px; 
  padding-left: 20px; 
  padding-right: 20px; 
  font-family: 'Poppins', sans-serif;
  font-size: 18px; 
  font-weight: 400; 
  line-height: 28px; 
  background: #FFFFFFFF; /* white */
  border-radius: 26px; 
  border-width: 1px; 
  border-color: #9095A0FF; /* neutral-500 */
  outline: none; 
}
.container-38 .textbox1 .label {
  font-family: 'Poppins', sans-serif;
  font-size: 14px; 
  font-weight: 700; 
  line-height: 22px; 
}
/* hover */
.container-38 .textbox1 input:hover {
  color: #BCC1CAFF; /* neutral-400 */
  background: #FFFFFFFF; /* white */
  border-color: #6E7787FF; /* neutral-550 */
}
/* focused */
.container-38 .textbox1 input:focused {
  color: #BCC1CAFF; /* neutral-400 */
  background: #FFFFFFFF; /* white */
  border-color: #9095A0FF; /* neutral-500 */
}
/* disabled */
.container-38 .textbox1 input:disabled {
  color: #BCC1CAFF; /* neutral-400 */
  background: #FFFFFFFF; /* white */
  border-color: #9095A0FF; /* neutral-500 */
}
.container-38 .textbox1 :disabled + .icon, .container-38 .textbox1 :disabled + .icon + .icon {
  fill: #171A1FFF; /* neutral-900 */
}

/* Textbox 37 */
.container-38 .textbox2 {
  position: absolute; 
  top: 221px; 
  left: 56px; 
  opacity: 1; 
}
.container-38 .textbox2 input {
  width: 320px; 
  height: 52px; 
  padding-left: 20px; 
  padding-right: 20px; 
  font-family: 'Poppins', sans-serif;
  font-size: 18px; 
  font-weight: 400; 
  line-height: 28px; 
  background: #FFFFFFFF; /* white */
  border-radius: 26px; 
  border-width: 1px; 
  border-color: #9095A0FF; /* neutral-500 */
  outline: none; 
}
.container-38 .textbox2 .label {
  font-family: 'Poppins', sans-serif;
  font-size: 14px; 
  font-weight: 700; 
  line-height: 22px; 
}
/* hover */
.container-38 .textbox2 input:hover {
  color: #BCC1CAFF; /* neutral-400 */
  background: #FFFFFFFF; /* white */
  border-color: #6E7787FF; /* neutral-550 */
}
/* focused */
.container-38 .textbox2 input:focused {
  color: #BCC1CAFF; /* neutral-400 */
  background: #FFFFFFFF; /* white */
  border-color: #9095A0FF; /* neutral-500 */
}
/* disabled */
.container-38 .textbox2 input:disabled {
  color: #BCC1CAFF; /* neutral-400 */
  background: #FFFFFFFF; /* white */
  border-color: #9095A0FF; /* neutral-500 */
}
.container-38 .textbox2 :disabled + .icon, .container-38 .textbox2 :disabled + .icon + .icon {
  fill: #171A1FFF; /* neutral-900 */
}

.container-38 .textcon {
  position: absolute; 
  top: 314px; 
  left: 48px; 
  font-family: 'Poppins', sans-serif;
  font-size: 14px; 
  font-weight: 400; 
  line-height: 22px; 
  color: #9095A0FF
}

/* Button 81 */
.container-38 .button {
  position: absolute; 
  top: 354px; 
  left: 56px; 
  width: 320px; 
  height: 52px; 
  padding: 0 20px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-family: 'Poppins', sans-serif;
  font-size: 18px; 
  font-weight: 400; 
  line-height: 28px; 
  color: #FFFFFF; /* Cambiado a blanco */
  background: #171A1FFF; /* neutral-900 */
  opacity: 1; 
  border: none; 
  border-radius: 26px; 
  text-decoration: none;
}

/* Hover */
.container-38 .button:hover {
  color: #FFFFFF; /* Cambiado a blanco */
  background: #262A33FF; /* neutral-750 */
}

/* Pressed */
.container-38 .button:active {
  color: #FFFFFF; /* Cambiado a blanco */
  background: #323842FF; /* neutral-700 */
}

/* Disabled */
.container-38 .button:disabled {
  opacity: 0.4; 
}

.container-38 .textul {
  position: absolute; 
  top: 418px; 
  left: 182px; 
  font-family: 'Poppins', sans-serif;
  font-size: 14px; 
  font-weight: 400; 
  line-height: 22px; 
  color: #323842FF; /* neutral-700 */
}

/* Button 82 */
.container-38 .button-82 {
  position: absolute; 
  top: 452px; 
  left: 106px; 
  width: 54px; 
  height: 36px; 
  padding: 0 10px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: #171A1FFF; /* neutral-900 */
  background: #00000000; /* transparent */
  opacity: 1; 
  border-radius: 18px; 
  border-width: 1px; 
  border-color: #171A1FFF; /* neutral-900 */
  border-style: solid; 
  gap: 0px; 
}

.container-38 .button-82 img {
  width: 16px; /* Ajusta el tama単o del logo a 16px */
  height: auto;
}

.container-38 .button-82 .icon {
  width: 16px; 
  height: 16px; 
  fill: #171A1FFF; /* neutral-900 */
}

/* Hover */
.container-38 .button-82:hover {
  color: #262A33FF; /* neutral-750 */
  background: #00000000; /* transparent */
}

/* Pressed */
.container-38 .button-82:hover:active {
  color: #323842FF; /* neutral-700 */
  background: #00000000; /* transparent */
}

/* Disabled */
.container-38 .button-82:disabled {
  opacity: 0.4; 
}

/* Button 83 */
.container-38 .button-832 {
  position: absolute;
  top: 452px;
  left: 203px;
  width: 53px;
  height: 36px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000000; /* transparent */
  opacity: 1;
  border-radius: 18px;
  border-width: 1px;
  border-color: #171A1FFF; /* neutral-900 */
  border-style: solid;
}

.container-38 .button-832 img {
  width: 16px; /* Ajusta el tama単o del logo a 16px */
  height: auto;
}

/* Hover */
.container-38 .button-832:hover {
  color: #262A33FF; /* neutral-750 */
  background: #00000000; /* transparent */
}

/* Pressed */
.container-38 .button-832:hover:active {
  color: #323842FF; /* neutral-700 */
  background: #00000000; /* transparent */
}

/* Disabled */
.container-38 .button-832:disabled {
  opacity: 0.4;
}

/* Button 84 */
.container-38 .button-833 {
  position: absolute; 
  top: 452px; 
  left: 299px; 
  width: 50px; 
  height: 36px; 
  padding: 0 10px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: #171A1FFF; /* neutral-900 */
  background: #00000000; /* transparent */
  opacity: 1; 
  border-radius: 18px; 
  border-width: 1px; 
  border-color: #171A1FFF; /* neutral-900 */
  border-style: solid; 
  gap: 0px; 
}

.container-38 .button-833 img {
  width: 16px; /* Ajusta el tama単o del logo a 16px */
  height: auto;
}

.container-38 .button-833 .icon {
  width: 16px; 
  height: 16px; 
  fill: #171A1FFF; /* neutral-900 */
}
/* Hover */
.container-38 .button-833:hover {
  color: #262A33FF; /* neutral-750 */
  background: #00000000; /* transparent */
}
/* Pressed */
.container-38 .button-833:hover:active {
  color: #323842FF; /* neutral-700 */
  background: #00000000; /* transparent */
}
/* Disabled */
.container-38 .button-833:disabled {
  opacity: 0.4; 
}